<div class="row">
  <div class="col-md-12">
    <div class="card-header bg-dark text-white text-center">
      <h3>@ViewChild using Directive</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div
      style="
        height: 180px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
      class="text-center mt-3 bg-dark"
    >
      <p appChangecolor>Change My color</p>
    </div>
    <div>
      Change Color:
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="rd"
          (click)="change('green')"
        />
        <label class="form-check-label" for="flexCheckDefault">Green</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="rd"
          (click)="change('yellow')"
          value="yellow"
        />
        <label class="form-check-label" for="flexCheckDefault">yellow</label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="rd"
          (click)="change('blue')"
          value="blue"
        />
        <label class="form-check-label" for="flexCheckDefault">blue</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="rd"
          (click)="change('orange')"
          value="orange"
        />
        <label class="form-check-label" for="flexCheckDefault">orange</label>
      </div>
    </div>
  </div>
</div>
