<div class="container">
  <!-- Theme component header -->
  <div class="row">
    <div class="col-md-12">
      <div class="card-header">
        <h3>Example - viewchild using template ref variable</h3>
      </div>
    </div>
  </div>

  <!-- Theme component body -->

  <div class="row">
    <div class="col-md-12">
      <div class="my-5 inputForm">
        <div class="mb-3">
          <label class="form-label" for="">Name</label>
          <input class="form-control" type="text" name="name" id="name" #name />
        </div>
        <div class="mb-3">
          <label class="form-label" for="state">State</label>
          <input
            class="form-control"
            type="text"
            name="state"
            id="state"
            #state
          />
        </div>
      </div>
    </div>
  </div>
</div>
