<div class="container">
  <div class="row py-5">
    <div class="col-md-12 home-title text-center">
      <h1>Home</h1>
    </div>

    <div #box class="col-md-12 text-center">
      <p #myTest>Testing View Child Decorater</p>
      <h3>
        User Name Is : <strong>{{ userName }}</strong>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-com1></app-com1>
    </div>
    <div class="col-md-6">
      <app-com2></app-com2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-com3></app-com3>
    </div>
    <div class="col-md-6">
      <app-com4></app-com4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-child>
        <p #childContent>This is ng content paragraph</p>
      </app-child>
    </div>
    <div class="col-md-6">
      <button
        (click)="changeChildProperty()"
        class="btn btn-outline-success me-2"
      >
        Change Child Property
      </button>
      <button (click)="callChildMethod()" class="btn btn-outline-warning">
        Call Child Method
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="custom-dropdwon">
        <span class="dropdwon-header" appDropdwon> My Dropdwon </span>
        <div class="dropdwon-content">
          <a href="">Itme 1</a>
          <a href="">Itme 2</a>
          <a href="">Itme 3</a>
          <a href="">Itme 4</a>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
